@use "../../styles/variables" as vars;

.content-card {
  background: vars.$light-grey;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 24px 0 rgba(41, 227, 142, 0.08);
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1.1;
  }

  .details {
    padding: 16px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4px;
  }

  .title {
    color: vars.$text-highlight;
    margin-bottom: 6px;
    font-size: vars.$default-font-size;
    grid-column: 1;
    grid-row: 1;
  }
  .creator {
    color: vars.$text-main;
    font-size: 0.7rem;
    margin-bottom: 8px;
    grid-column: 1;
    grid-row: 2;
  }
  .status {
    font-weight: bold;
    color: vars.$text-highlight;
    font-size: 1rem;
    grid-column: 2;
    grid-row: 1 / span 2; /* Span both rows for vertical centering */
    justify-self: end; /* Align price text to right */
    align-self: start;
  }
}
