@use "../../styles/variables" as vars;

.header {
  background: vars.$app-background;
  color: vars.$text-main;
  padding: 24px 32px;

  .logo {
    font-weight: bold;
    font-size: 1rem;
    color: vars.$green-font-color;
    letter-spacing: 2px;
  }
}
