@use "../../../styles/variables" as vars;

.sort-dropdown {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: end;
  font-size: 0.7rem;

  label {
    color: vars.$text-main;
  }

  select {
    background: vars.$dark-grey;
    color: vars.$text-main;
    border: none;
    border-bottom: 1px solid vars.$text-muted;
    padding: 0.3rem 1.2rem 0.3rem 0.1rem;
    min-width: 110px;
    font-size: 0.7rem;
    margin-left: 8px;
    &:focus-visible {
      outline: none;
      outline-offset: none;
    }
  }
}
